/* Body */
body {
    background-color: #DDDDDD;
    height: 5000px;
}

/* Font */
.outfit {
    font-family: "Outfit", sans-serif;
}

.f-24 {
    font-size: 20px;
}
.f-32 {
    font-size: 32px;
}
.oleo {
    font-family: "Oleo Script", sans-serif;
}
.patrick {
    font-family: "Patrick Hand", sans-serif;
}

.jakarta {
    font-family: "Plus Jakarta Sans", sans-serif;
}
.orelaw {
    font-family: "Orelega One", sans-serif;
}
/* Kotak Hero */
.kotak-hero {
    width: 360px;
    height: 500px;
    position: absolute;
    background-color: #6B5353;
    border-radius: 0px 0px 0px 50px;
    right: 0px;
    z-index: -1;
}
.hidden {
    display: none;
}
/* Lingkaran Bayangan */
.circle-shadow {
    width: 861px;
    height: 861px;
    flex-shrink: 0;
    border-radius: 861px;
    opacity: 0.3;
    background: #6B5353;
    filter: blur(121.5px);
    position: absolute;
    z-index: -2 ;
    right: 5px;
    top : -210px;
}
.circle-shadow2 {
    width: 861px;
    height: 861px;
    flex-shrink: 0;
    border-radius: 861px;
    opacity: 0.3;
    background: #6B5353;
    filter: blur(121.5px);
    position: absolute;
    z-index: -2 ;
    left: -450px;
    top : 500px;
}
/* Responsif untuk laptop */
@media only screen and (min-width: 1024px) {
    .kotak-hero {
        width: 370px; /* Lebar untuk tampilan laptop */
        height: 623px; /* Tinggi untuk tampilan laptop */
    }
    .judul {
        font-size: 64px;  
    }
    .hero {
        width: 600px;
        border-radius: 50px;
    }
    .custom-btn {
        font-size: 24px;
        background-color: transparent;
        border: solid 1px black;
        border-radius: 100px;
        width: 100%;
        padding: 20px;
    }
    .custom-btn:hover {
        background-color: #6B5353;
        color: white;
    }
    .judul-patner {
        margin-top: 90px;
    }
    .kotak-patner {
        width: 1120px;
        height: 144px;
        display: flex;
        justify-content: center; 
        align-items: center; 
        padding: 10px;
        background: #6B5353;
        border-radius: 20px;
        margin-right: auto;
        margin-left: auto;
        color: white;
        opacity: 0.8;
    }
    .kotak-patner h3 {
        margin-right: 100px;
        margin-left: 10px;
        font-size: 64px;
      }
}

/* Responsif untuk PC */
@media only screen and (min-width: 1440px) {
    .kotak-hero {
        width: 455px; /* Lebar untuk tampilan PC */
        height: 700px; /* Tinggi untuk tampilan PC */
    }
    .hero {
        width: 600px;
        border-radius: 50px;
    }
    .judul-patner{
        margin-top: 200px;
    
    }
}

/* Responsif untuk perangkat seluler */
@media only screen and (max-width: 767px) {
    .kotak-hero {
        width: 90%; /* Lebar untuk tampilan pada perangkat seluler */
        height: 400px; /* Tinggi untuk tampilan pada perangkat seluler */
        margin: 0 auto; /* Pusatkan kotak pada perangkat seluler */
        left: 0;
        right: 0;
    }
    .outfit{
        font-size: 20px;
        color: black;
    }
}
